/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

/* Adding max-width and centering for content area */
.content {
    margin-bottom: 20px;
    max-width: 100%; /* Default to full width */
    margin: 0 auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

table {
    border-collapse: collapse;
  }

table td{
    border:1px solid #b6b6b6;
    padding: 8px;
 }

/* Responsive Styles */

/* Mobile (up to 600px) */
@media only screen and (max-width: 600px) {
    header h1 {
        font-size: 1.5em;
    }

    nav ul {
        padding: 0;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }

    nav ul li a {
        font-size: 1em;
    }
}

/* Tablet (601px to 900px) */
@media only screen and (min-width: 601px) and (max-width: 900px) {
    header h1 {
        font-size: 1.75em;
    }

    nav ul li {
        margin: 0 10px;
    }

    main {
        padding: 15px;
    }

    /* Limit content width to 75% of the screen */
    .content {
        max-width: 75%;
    }
}

/* Desktop (901px and up) */
@media only screen and (min-width: 901px) {
    header h1 {
        font-size: 2.5em;
    }

    nav ul li {
        margin: 0 20px;
    }

    main {
        padding: 30px;
    }

    /* Limit content width to 50% of the screen */
    .content {
        max-width: 50%;
    }
}